# Backend environment variables (Spring Boot)

# Database (PostgreSQL)
DB_URL=jdbc:postgresql://aws-1-ap-southeast-2.pooler.supabase.com:6543/postgres
DB_USERNAME=postgres.swqpzwpiaprigadkptcl
DB_PASSWORD=AryanKhare2112


# Mail (optional)
SMTP_USERNAME=cafeapplication21@gmail.com
SMTP_PASSWORD=ejvcxpsabwdoztcs
MAIL_DEBUG=false

# Razorpay (optional)
RAZORPAY_KEY_ID=rzp_test_SNfECMaYSLkDGN
RAZORPAY_KEY_SECRET=S7o78jASLkSzlP69Pa6lQqeO
